CadastrarFuncionariosMRV/SOA/WSDLs/userReconDB.wsdl

<wsdl:definitions
     name="userReconDB"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/CadastrarFuncionariosMRVApp/CadastrarFuncionariosMRV/userReconDB"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/CadastrarFuncionariosMRVApp/CadastrarFuncionariosMRV/userReconDB"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/userReconDB"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="userReconDB_plt" >
    <plt:role name="userReconDB_role" >
      <plt:portType name="tns:userReconDB_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" >
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/userReconDB" schemaLocation="../Schemas/userReconDB_table.xsd" />
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:UserReconFelipePrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="UserReconFelipeCollection_msg">
        <wsdl:part name="UserReconFelipeCollection" element="top:UserReconFelipeCollection"/>
    </wsdl:message>
    <wsdl:portType name="userReconDB_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:UserReconFelipeCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:UserReconFelipeCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
